FLASK_APP=app
FLASK_ENV=/home/ifeenstra/anaconda3/envs/NLP

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY=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
